.adsList {
  width: 100%;

  &__info {
    border: 1px solid black;
  }

  &__infoContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 200px;
  }

  &__item {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    border: 2px solid white;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

.gold {
  background-color: gold;
}

.silver {
  background-color: silver;
}

.slider { 
  min-height: 200px;
  min-width: 200px;
}